.biolinks_caption {
    font-size: small;
    text-align: center;
    color: orange;
    padding: 3px;
    margin: 10px;
    border: solid 1px black;
}

.biolinks_vis_distribution {
    background-color: white;
}

.biolinks_vis_annotations {
    background-color: white;
}